body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

input {
    border: 1px solid #333;
    border-radius: .3em;
    padding: .25rem;
    width: 7em;
  }

.equal {
  font-weight: bold;
  font-size: 2rem;
}

select {
    margin-left: .5rem;
  }
